.list__container{
    margin: 0 2rem 0 2rem;
}
.list__title{
    font-size: 1.8rem;
    padding: 1rem 0;
}
.list__small_btn {
  font-size: 1.2rem;
}
.list__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/*table css*/
.table__container {
    overflow-y: auto;
}
table {
    width: 100%;
    min-width: 400px;
    border-spacing: 0;
}
thead {
    background-color: #fff;
}
tr {
    text-align: left;
}
th,
td {
    text-transform: capitalize;
    padding: 15px 10px;
}
tbody > tr:hover {
    background-color: var(--light-yellow);
    color: var(--black);
}

.table__image{
    width: 50px;
    height: 30px;
    object-fit: contain;
}
.table__pagination {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
}
.table__pagination-item ~ .table__pagination-item {
    margin-left: 10px;
}
.table__pagination-item {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.table__pagination-item.active,
.table__pagination-item.active:hover {
    background-color: var(--light-yellow);
    color: var(--black);
    font-weight: 600;
}
.table__pagination-item:hover {
    color: var(--black);
    background-color: var(--yellow);
}
.fa-trash:before{
    color: rgb(180, 58, 82); 
    margin: 0 1.5rem;
    cursor: pointer;
}
.fa-pen:before{
    color: rgb(58, 137, 180);
    margin: 0 1.5rem;
    cursor: pointer;
}


@media (max-width:850px){
    .table__head{
        display: none;
    }
    .table,
    .table__body,
    .table__row,
    .table__data{
        display: block;
        width: 100%;
    }
    .table__row{
        margin-bottom: 1rem;
    }
    .table__data{
        text-align: center;
        padding-left: 50%;
        position: relative;
    }
    .table__data::before{
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 1rem;
        font-size: 1.5rem;
        font-weight: bold;
        text-align: left;
    }
}

@media (max-width:500px){
    .table__data{
        text-align: left;
    }
}