.productMain__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem 2rem;
}
.single{
  margin-top: 10rem;
}
.productMain__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.productMain__title{
    flex: 4;
}
.productMain__header-button{
    flex: 1;
}
.productMain__input{
    opacity: 1;
    margin: 0.5rem;
    width: 96%;
    height: 4rem;
}
.productMain__input-file{
    opacity: 1;
}
.productMain__radio{
    opacity: 1;
}
.productMain__label{
    opacity: 1;
}
.productMain__body{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
}
.product__body-container{
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
.product__body-container .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.product__body-container .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.product__content .product__form .product__top-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
.upload-icon{
  cursor: pointer;
}

.fa-upload:before{
  color: #9b59b6;
  margin: 0 1.5rem;
  font-size: 3rem;
  cursor: pointer;
}
.product__form .product__top-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
.product__form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.product__top-details .input-box select,
.product__top-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.product__top-details .input-box select:focus,
.product__top-details .input-box select:valid,
.product__top-details .input-box input:focus,
.product__top-details .input-box input:valid{
  border-color: #9b59b6;
}
 .product__form .product__bottom-details .radio-title{
  font-size: 20px;
  font-weight: 500;
 }

 .product__form .product__bottom-details{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;

 }
 .product__form .radio-details1{
   opacity: 1;

 }
 .radio-value{
   margin-right: 1rem;
 }
 .product__form .category{
   display: flex;
   width: 100%;
   margin: 14px 0 ;
   justify-content: space-between;
 }
.product__form .category label{
   display: flex;
   align-items: center;
   cursor: pointer;
 }
.product__form .category label .dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
 #dot-1:checked ~ .category label .one,
 #dot-2:checked ~ .category label .two,
 #dot-3:checked ~ .category label .three,
 #dot-4:checked ~ .category label .four,
 #dot-5:checked ~ .category label .five,
 #dot-6:checked ~ .category label .six{
   background: #9b59b6;
   border-color: #d9d9d9;
 }
 .product__form input[type="radio"]{
   display: none;
 }
 .product__form .button{
   height: 45px;
 }
 .product__form .button input{
   height: 100%;
   width: 100%;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: linear-gradient(135deg, #71b7e6, #9b59b6);
 }
 .product__form .button input:hover{
  /* transform: scale(0.99); */
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
  }
 @media(max-width: 584px){
.product__body-container{
  max-width: 100%;
}
  .product__form .product__top-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  .product__form .category{
    width: 100%;
  }
  .product__content .product__form .product__top-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .product__top-details::-webkit-scrollbar{
    width: 5px;
  }
  }
  @media(max-width: 459px){
  .product__body-container .product__content .category{
    flex-direction: column;
  }
}