.products__container{ 
    margin: 13rem 15rem 15rem;
}
.products__contents{
    display: flex;
}
.filter__container{
    flex: 1;
}
.products__wrapper{
    flex: 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.product__card {
    border: 0.1rem #c0c0c0 solid;
    background-color: #f8f8f8;
    border-radius: 0.5rem;
    margin: 1rem;
  }
  .product__body {
    padding: 1rem;
  }
  .product__body > * {
    margin-bottom: 0.5rem;
  }
  .product__image{
    width: 32rem;
    height: 17rem;
    padding: 1rem;
    object-fit: contain;
  }
  .product__price {
    font-size: 2rem;
  }

.pagination {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
}

.pagination1 ~ .pagination1 {
    margin-left: 10px;
}

.pagination1 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.pagination1.active,
.pagination2.active,
.pagination1.active:hover {
    background-color: var(--light-yellow);
    color: var(--black);
    font-weight: 600;
}
.pagination1:nth-child(1):hover,
.pagination1:nth-child(2):hover,
.pagination1:nth-last-child(2):hover,
.pagination1:last-child:hover{
    width: 50px;
    height: 30px;
    background-color: var(--light-yellow);
    color: var(--black);
    border-radius: 50%;
}
.pagination2{
    color: var(--black);
}

.pagination1:hover {
    color: var(--black);
    background-color: var(--yellow);
}
.search__container{
    display: flex;
    align-items: center;
}

@media (max-width:450px){
    .products__container{ 
        margin: 13rem 0 0;
    }
}